@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    background-color: #121212;

}
.nav{
    background-color:#1ed760;
    padding: 10px;
    color:black;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 20px;
    font-weight: 700;
}
.navlogin{
    font-size: 20px;
    font-weight: 700;
    
}
.container{  
    display: flex;
    margin-top:100px;
    justify-content: center;
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.createacc{
    background-color:#2a2a2a;
    padding: 40px;
    border-radius: 10px;

}
form >input{
    padding: 8px;
    width: 250px;
    border-radius:5px;
    font-size: 15px;
    border: none;
    border: 1px solid black;
    background-color: #121212;
    color: white;
}
#btn1{
    padding: 8px;
    border-radius: 20px;
    background-color: #1ed760;
    font-weight:700;
    width:250px;
}
.or{
    color: white;
}